* { 
    background-color:#C0DEED;
    color: black;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: row;
}
header {
    z-index: 10;
    position: fixed;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    z-index: 10;
    position: fixed;
    bottom: 100px;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}
h1, h2 {
    background: transparent;
}

@keyframes animatedClouds {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
#sky {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    margin:0px;
    padding:0px;
    background-color:#C0DEED;
    background: url(clouds.png) center top repeat-x;
    padding-top:300px;
    padding-bottom:10px;
    z-index: 0;
    animation: animatedClouds 10s linear infinite;
}